@{
    ViewData["Title"] = "Home Page";
    var saludo = "Hola mundo en una variable!!";
    var fecha = DateTime.Now;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="https://i.ytimg.com/vi/Qh_pKPGW8mw/maxresdefault.jpg" style="color:blueviolet; font-size:larger;">atrévete a pinchar</a>
</div>
